*{
	margin: 0;
	font-family: "Lucida Console", "Courier New", monospace;
}
textarea{
	resize: none;
}
#contact_form{
	background-image: linear-gradient(to top right, brown, black);
	margin-left: 50%;
	margin-top: 3%;
	width: 33%;
	height: 80%;
	border-radius: 10px;
	box-shadow: 15px 15px 8px black;
}

#contact_form *{
	border-radius: 10px;
}
#form_name, #form_text, #form_addr{
	border: 0;
	border-bottom: white 3px solid;
	background-color: transparent;
	padding: 4.5px;
	color: white;
	font-size: 13px;
}
#form_name:hover, #form_text:hover, #form_addr:hover{
	/*background-color: black;*/
	width: 85%;
	margin-left: 6.5%;
}

/* 20% 40% 20% 20%  */

#form_name{
	height: 9%;
	width: 80%;
	margin-left: 9%;
	margin-top: 5%;
}
#form_text{
	height: 19%;
	width: 80%;
	margin-left: 9%;
	margin-top: 15%;
	box-shadow: 1px 1px 10px white;
}
#form_addr{
	height: 9%;
	width: 80%;
	margin-left: 9%;
	margin-top: 10%;
}
#form_send{
	height: 9%;
	width: 70%;
	margin-left: 14%;
	margin-top: 10%;
	color: white;
	font-size: 20px;
	background-image: linear-gradient(to bottom right, brown, black);
}
#form_send:hover{
	width: 75%;
	height: 11%;
	margin-left: 11.5%;
	margin-top: 9%;
	font-size: 22px;
}

/* MEDIA QUIERIES */

@media screen and (max-width: 1000px){
	#contact_form{
		width: 80%;
		margin: 10%;
	}
	#form_name, #form_text, #form_addr{
		font-size: 200%;
		border-bottom: white 5px solid;
		color: white;
	}
	#form_send{
		font-size: 400%;
	}#form_send:hover{
		font-size: 410%;
	}
}