*{
	margin: 0;
	padding: 0;
	font-family: "Lucida Console", "Courier New", monospace;
}
a{
	text-decoration: none;
}
#central-elements{
	position: absolute;
	z-index: 1;
}
#presenter{
	/*background-color: purple;*/
	color: black;
	font-size: 40px;
	line-height: 50px;
	width: 49%;
	text-shadow: 5px 5px 8px black;
	float: right;
	padding-top: 1%;
}
#presenter div{
	/*background-color: green;*/
	padding: 15px;
}
#participe-button{
	/*position: absolute;
	top: 450px;
	left: 230px;
	width: 14.6%;
	height: 50px;*/
	/*background-color: red;*/
	width: 49%;
	float: left;
}

/*#presenter,#participe-button{opacity:0.5;}*/
#participe-button button{
	/*background-image: linear-gradient(to top right, brown, black);*/
	background: white;
	border: 0;
	border-radius: 5px;
	margin-top: 70%;
	margin-left: 33%;
	width: 33%;
	height: 50px;
	font-size: 20px;
	box-shadow: 15px 15px 8px black;
	border: 1px solid black;
}
#participe-button a{
	text-decoration: none;
	color: black;
}
#hamburger{
	position: absolute;
	width: 35px;
	height: 30px;
	top: 5px;
	left: 5px;
	box-shadow: 10px 10px 8px black;
	z-index: 2;
}
#bar1, #bar2, #bar3{
	width: 100%;
	height: 23%;
	background-color: black;
	top: 0;
	left: 0;
}
#bar1{
	margin-bottom: 15%;
	border-radius: 3px 3px 0 0;
}
#bar3{
	margin-top: 15%;
	border-radius: 0 0 3px 3px;
}

/* MENU */

#menu{
	position: absolute;
	width: 25%;
	height: 98%;
	margin-top: 0.4%;
	/*background-image: linear-gradient(to top right, brown, black);*/
	background-color: white;
	border-radius: 20px;
	box-shadow: 10px 10px 8px black;
	left: -75%;
	transition: 0.5s;
	overflow: hidden;
	z-index: 2;
}
#bg-cover{
	width: 100%;
	height: 100%;
	background-color: black;
	opacity: 0.8;
	z-index: 1;
	position: ;
}
.option{
	margin-top: 5px;
	width: 100%;
	padding-top: 15px;
	padding-bottom: 15px;
	background-color: black;
	text-align: center;
	font-size: 18px;
	color: white;
}.option:hover{
	font-size: 20px;
}

@media screen and (max-width: 1000px){
	/* MOBILES */
	#presenter{
		/*background-color: purple;*/
		width: 100%;
		margin: 0;
	}
	#presenter div{
		/*background-color: green;*/
		margin: 50px;
		font-size: 200%;
		line-height: 100%;
		text-align: center;
	}
	#participe-button{
		width: 100%;
	}
	#participe-button button{
		margin-top: 10%;
		width: 60%;
		height: 150px;
		font-size: 350%;
		margin-left: 20%;
	}
	#bg-img-cover{
		width: 100%;
		height: 100%;
		background-color: black;
		opacity: 0.5;
		z-index: 0;
		position: absolute;
	}
	#hamburger{
		width: 90px;
		height: 80px;
		margin: 20px;
	}
	#menu{
		width: 75%;
	}
	.option{
		width: 95%;
		height: 5%;
		font-size: 300%;
		margin-top: 25px;
		border-radius: 10px;
	}.option:hover{
		font-size: 320%;
	}
}
